services:
  haproxy:
    image: haproxy-with-minica/haproxy
    build:
      context: ./haproxy
      target: haproxy
      args:
        - VHOST_FQDN=${VHOST_NAME:-test}.test
    networks:
      default:
        aliases:
          - ${VHOST_NAME:-test}.test
    ports:
      - target: 80
        host_ip: 127.0.0.1
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        host_ip: 127.0.0.1
        published: 443
        protocol: tcp
        mode: host
    depends_on:
      - sample
  sample:
    image: ghcr.io/mitarothanken/haproxy-with-minica/devcontainers/typescript-node-with-java:20240316-1041
    volumes:
      - .:/workspaces:cached
    environment:
      - VHOST_FQDN=${VHOST_NAME:-test}.test
    command: /bin/sh -c "while sleep 1000; do :; done"
